body { 
    font-family: 'Shadows Into Light', cursive;
    background-color: lightslategray;
}
.heading-font { 
    font-family: 'Permanent Marker', cursive;
}
header > h1{text-align:center;}
nav ul li {display:inline-block; margin-left:50px; 
    margin-right:50px;border:solid 12px purple; 
    padding: 25px 50px;background-color: blueviolet;} 
label {display:block}
a {text-decoration: none;}
.text-align{text-align: center;}
